section {
  position: relative;
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-content: center;
}

section h2 {
  color: #fff;
  font-size: 15em;
  cursor: default;
}

.btn-com {
  margin-left: 4vw;
  padding: 1vw;
  border-radius: 10px;
  background-color: white;
  color: black;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.btn-com:hover {
  background-color: gray;
  color: white;
}

.ligth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0, 0, 0, 0.95) 20%);
}

.content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.logo-name {
  padding: 3vw;
  font-size: 3vw;
  display: flex;
}

.logo-name :nth-child(6) {
  color: rgb(0, 115, 255);
}

/* CSS */
.btn-6 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1), color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn-6:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  -webkit-clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
          clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

body {
  cursor: url(https://giphy.com/gifs/jupiter-s2uampOAMWksU);
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.cv {
  border: 0.5px solid black;
  border-radius: 20px;
  padding: 1vw;
  margin-left: 5vw;
  align-items: center;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  background-color: white;
}

.cv a {
  text-align: center;
  margin-left: none;
  margin-right: 50px;
}

#link {
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

.btn-6:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  -webkit-clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
          clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.btn-6:after {
  background-color: #FFFFFF;
}

.btn-6 span {
  z-index: 1;
  position: relative;
}

.navbar a {
  padding: 2vw;
  text-decoration: none;
  font-weight: 600;
  color: rgb(0, 115, 255);
}

.link-social {
  text-decoration: none;
  color: black;
}

.logo-profil {
  border-radius: 50%;
  margin-right: 100px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.fluid-contenair {
  padding-left: 200px;
}

.fluid-contenair h4 {
  text-align: center;
  font-size: 4vw;
}

.fluid-contenair p {
  opacity: 0.5;
  color: gray;
}
.fluid-contenair p .pin {
  align-items: center;
  text-align: center;
  opacity: 2;
}

.fluid-contenair a {
  text-align: center;
  align-items: center;
  margin-left: 50px;
}

.ico {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.link {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.ico:hover {
  color: gray;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.stack {
  color: black;
  opacity: 1;
  font-size: 2vw;
  margin-left: 10vw;
}

a {
  text-decoration: none;
}

.items-stack {
  display: flex;
  margin-top: 5vw;
  margin-right: 20vw;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
video{
  z-index: 5;
  position: relative;
  left: 5vw;
  
}
.btn-stack1 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack1:hover {
  color: #e44d25;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack2 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack2:hover {
  color: #264DE4;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack3 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack3:hover {
  color: #787CB4;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack4 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack4:hover {
  color: #F7E01D;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack5 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack5:hover {
  color: #0A7EA5;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack6 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack6:hover {
  color: #CD689A;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack7 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack7:hover {
  color: #8813FC;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack8 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack8:hover {
  color: #37BFF3;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack9 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack9:hover {
  color: black;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack10 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack10:hover {
  color: #F29016;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack11 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack11:hover {
  color: #10B7EE;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack12 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack12:hover {
  color: black;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack13 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack13:hover {
  color: rgb(188, 53, 255);
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack14 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack14:hover {
  color: #0FA6D3;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack15 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack15:hover {
  color: rgb(97, 0, 145);
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.btn-stack16 {
  text-decoration: none;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  margin-top: 3.7vw;
  margin-left: 1vw;
}

.btn-stack16:hover {
  color: red;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: normal;
}

.about-logo {
  border-radius: 15%;
  margin: 5vh;
}

.about {
  margin-top: 80vh;
  display: flex;
  border-radius: 10%;
  box-shadow: 0 30px 70px 0 black;
  width: 75vw;
  height: 75vh;
  margin-left: 10vw;
  animation: reveal linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: contain 50%;
}

.about h6 {
  margin-top: 4vw;
  font-size: 90%;
  color: rgb(0, 115, 255);
}

.about h5 {
  font-size: 1.5vw;
}

.about p {
  color: gray;
}

@keyframes reveal {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 30vw;
  margin-right: 15vw;
}

@keyframes slide {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.portfolio-logo {
  width: 30%;
  border-radius: 15%;
  margin-left: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  animation: reveal linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: contain 20%;
}

.portfolio .text-pro {
  margin-left: 3vw;
  animation: slide linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}

.portfolio h6 {
  margin-top: 4vw;
  font-size: 90%;
  color: rgb(0, 115, 255);
  animation: slide linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}

.portfolio h6 {
  font-size: 1.5vw;
  color: black;
  animation: slide linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}

.portfolio p {
  color: gray;
  animation: slide linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}

.portfolio h7 {
  color: black;
  font-weight: 900;
  margin-left: 2vw;
  animation: slide linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}

.portfolio .code {
  display: flex;
  color: black;
  margin-left: 2vw;
  animation: slide linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}

.portfolio2 {
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 30vw;
  margin-right: 15vw;
  margin-left: 10vw;
}

.portfolio2-logo {
  width: 30%;
  border-radius: 15%;
  margin-left: 4vw;
  -o-object-fit: cover;
     object-fit: cover;
  animation: reveal linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: contain 20%;
}

.portfolio2 .text-pro {
  margin-left: 3vw;
  animation: slide linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
  text-align: end;
}

@media (min-width: 1363px) and (max-width: 1563px) {
  .stack {
    height: 6vw;
    width: 151px;
  }
}
@media (min-width: 1024px) and (max-width: 1363px) {
  .items-stack {
    margin-left: 10vw;
    text-align: center;
  }
  .stack {
    padding-top: 5px;
    width: 150px;
  }
  .about p {
    font-size: small;
  }
  .about h5 {
    font-size: small;
  }
  .about h6 {
    margin-bottom: 1px;
  }
  .about {
    width: 80vw;
  }
  .foot p {
    font-size: x-small;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .quick {
    margin-right: 200px;
  }
  .content {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .logo-name {
    font-size: x-large;
  }
  .navbar {
    display: block;
    margin-right: 69px;
    margin-left: 80px;
  }
  .container {
    display: block;
  }
  .fluid-contenair {
    padding-left: 10px;
  }
  .link {
    display: flex;
  }
  .logo-profil {
    margin-left: 130px;
    margin-top: 20px;
    width: 100px;
  }
  .items-stack {
    display: block;
    margin-left: 100px;
    margin-right: 10px;
  }
  .stack {
    font-size: medium;
    margin-left: 1px;
  }
  .about {
    margin-top: 20px;
    width: 363px;
    height: 55vw;
    margin-left: 0px;
    overflow-y: scroll;
    scrollbar-color: rgb(0, 115, 255) grey;
    scrollbar-width: thin;
  }
  .about p {
    font-size: xx-small;
  }
  .about h5 {
    font-size: xx-small;
  }
  .about h6 {
    margin-bottom: 1px;
  }
  .about {
    margin-left: 0px;
  }
  .projet {
    margin-top: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1363px) {
  .items-stack {
    margin-right: 0px;
  }
  .quick {
    width: 158px;
    margin-right: 0px;
  }
  .about {
    width: 100vw;
    height: 55vw;
    overflow-y: scroll;
    scrollbar-color: rgb(0, 115, 255) grey;
    scrollbar-width: thin;
  }
  .portfolio {
    margin-right: 1px;
  }
  textarea.commentaire {
    margin-left: px;
  }
  p#textabout {
    font-size: x-small;
    margin-right: 60px;
  }
  #about p {
    font-size: x-small;
  }
  .btn-com {
    margin-bottom: 2vw;
  }
  #ic {
    width: 33px;
    height: 2px;
  }
  .stack {
    padding-top: 5px;
    width: 10px;
  }
  .link {
    display: flex;
  }
  .navbar {
    display: flex;
  }
  .btn-6 {
    padding-right: 1px;
  }
  .about p {
    font-size: small;
  }
  .about h5 {
    font-size: small;
  }
  .about h6 {
    margin-bottom: 1px;
  }
  .about {
    margin-left: 0px;
  }
}
.portfolio2 h6 {
  margin-top: 4vw;
  font-size: 90%;
  color: rgb(0, 115, 255);
  animation: slide linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}

.portfolio2 h6 {
  font-size: 1.5vw;
  color: black;
  animation: slide linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}

.portfolio2 p {
  color: gray;
  animation: slide linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}

.portfolio2 h7 {
  color: black;
  font-weight: 900;
  margin-left: 2vw;
  animation: slide linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}

.portfolio2 .code {
  display: flex;
  color: black;
  margin-left: 2vw;
  animation: slide linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
  flex-direction: row-reverse;
}

.code h4 {
  align-items: center;
  align-content: center;
  display: flex;
  margin-top: 2vw;
  margin-left: 2vw;
}

.projet {
  text-align: center;
  padding-top: 5vw;
}

.projet h6 {
  text-align: center;
  padding-top: 20vw;
  font-size: 7vw;
  color: rgb(0, 115, 255);
  animation: reveal linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: contain 50%;
}

h5 {
  text-align: center;
  font-size: 1.5vw;
  color: black;
}

.perso {
  margin-top: 60vh;
  text-align: center;
  font-size: 1.5vw;
  color: black;
}

footer {
  margin-top: 20vw;
  border: 1px solid black;
}

.com {
  display: block;
  justify-content: center;
  margin-top: 20vw;
  margin-left: 17vw;
  align-items: center;
  align-content: center;
  border: 1px solid black;
  margin-right: 17vw;
  padding-bottom: 5vw;
  opacity: 0.5;
  box-shadow: inset 1px 7px 5px rgba(128, 128, 128, 0.452);
  color: black;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  animation: reveal linear;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: contain 20%;
}

.Entreprise {
  padding: 1.5vw;
  border-radius: 15px;
  margin-top: 10vw;
  opacity: 0.5;
  box-shadow: inset 1px 7px 5px rgba(128, 128, 128, 0.452);
  color: black;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-left: 12vw;
}

.tel {
  padding: 1.5vw;
  border-radius: 15px;
  margin-top: 10vw;
  opacity: 0.5;
  box-shadow: inset 1px 7px 5px rgba(128, 128, 128, 0.452);
  color: black;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-left: 26vw;
}

.commentaire {
  padding: 1.5vw;
  border-radius: 15px;
  margin-top: 10vw;
  opacity: 0.5;
  box-shadow: inset 1px 7px 5px rgba(128, 128, 128, 0.452);
  color: black;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-left: 26vw;
}

.foot {
  border: none;
  background-color: #424242;
  display: flex;
}

.foot p {
  color: gray;
  margin-right: 200px;
  text-align: justify;
  margin-left: 3vw;
}

.foot h6 {
  font-size: large;
  font-weight: 200;
  margin-left: 2vw;
}

.foot h4 {
  font-size: large;
  font-weight: 200;
  margin-left: 2vw;
  margin-top: 3vw;
}

.foot h6:hover {
  color: white;
}

.foot h4:hover {
  color: white;
}

section {
  background-color: transparent;
}

.foot {
  max-height: 25vw;
}

#copy {
  text-align: center;
  color: black;
  text-decoration: line-through;
  margin: 0;
  background-color: #424242;
}

#contact {
  color: rgb(0, 115, 255);
  font-size: x-large;
}/*# sourceMappingURL=Home.css.map */